# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment variables / secrets
.env

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite
*.sqlite3

# Runtime storage
storage/uploads/*
storage/chroma/*

# OS
.DS_Store
Thumbs.db